<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.1/dist/minty/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>

    <title>
        {% block title %}Omika{% endblock %}
    </title>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">

            <div class="container-fluid">

                <a class="navbar-brand" href="{{ path('app_homepage') }}">Omika</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link {% block homeActive %}{% endblock %}" href="{{ path('app_homepage') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block planningActive %}{% endblock %}" href="https://premium.mycawan.com/" target="_blank">planning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block epackActive %}{% endblock %}" href="https://epack-manager.com/login" target="_blank">Epack</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block gmailActive %}{% endblock %}" href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank">gmail</a>
                        </li>
                        
                         <li class="nav-item">
                            <a class="nav-link {% block ExplorerMmsActive %}{% endblock %}" href="{{ path('app_web_notification_sendMms') }}">Mms</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% block userActive %}{% endblock %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Utilisateurs</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('app_api_supplier_getSupppliers')}}">Liste</a>
                                <a class="dropdown-item" href="{{ path('app_api_supplier_getSupppliers')}}">Ajouter</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>

            </div>

        </nav>

    </header>
    <main role="main" class="container">
        {% block body %}{% endblock %}
    </main>

    <footer class="container-fluid py-4 border-top text-center">
        <i class="bi bi-balloon-heart text-secondary"></i>
        <span class="text-muted">&copy;
            {{ "now"|date("Y") }}
            Omika<i class="bi bi-balloon-heart text-secondary"></i>
        </span>
    </footer>

</body>

</html>
